body {
	margin: 0;
	padding: 0;
	background:lightpink;
	color: white;
	font-family: Helvetica, arial, sans-serif;
}
main {
	padding: 1em;
}
h1 {
	font-size: 1.3em;
	font-weight: lighter;
}
p {
	color: hotpink;
	font-weight: lighter;
	font-size: 5em;
}
