body {
	margin: 0;
	padding: 0;
	background: white;
	color: white;
	background-image: url(images/background.jpg);
	font-family: Keep Calm Medium, Helvetica, arial, sans-serif;
	position: relative;
	width: 100%
}

main {
	margin: 0 auto;
	max-width: 50em;
	padding: 1em;
}
.topnav {
  overflow: hidden;
  background-color: #d2d2d2;
  margin-bottom: 1.7em;
}

.topnav a {
  float: left;
  color: #1947BA;
  text-align: center;
  padding: 14px 78px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1947ba;
  color: white;
}

header {
	width: 100%;
	color: white;
	background-size: cover;
	background-position: bottom;
}

div {
	margin: 0;
	padding: 0;
}

.logo {
	margin-top: 2.5em;
	margin-bottom: 1em;
	margin-left: -1em;

}

.NOTICE {
	left: 0;
	top: 531px;
	padding: 60px 5px 13px 30px;
	width: 380px;
	height: 170px;

}

.intro {
	width: 57%;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 1em;
	color: #1947ba;
	text-align: center;
	margin-bottom: 1em;
	line-height: 2em;
}

h2 {
	font-size: 0.9em;
	font-weight: lighter;
	color: #1947ba;
	margin-top: 0em;
	text-align: center;
	margin-bottom: 1.5em;
	line-height: 2em;
}

h3 {
	font-size: 0.8em;
	color: #1947ba;
	margin-top: 0em;
	text-align: center;
	margin-bottom: 1.5em;
	line-height: 2em;
}

p {
	color: hotpink;
	font-weight: lighter;
	font-size: 2em;
}
.home-content {
    display: flex;
    flex-wrap: wrap;
}
.home-content > * { 
	width: 100%;
}
.intro {
	background: white;
}

@media (min-width: 50em) {
	.home-content > * { 
		width: 50%;
	}
}
}
